@import url('https://fonts.googleapis.com/css?family=Cairo');
* {
	font-family: 'Cairo', sans-serif;
}
.section-title {
	margin-bottom: 25px;
	display: inline-block;
}
.section-title:after {
	osition: relative;
    display: block;
    content: "";
    height: 2px;
    width: 30%;
    margin: 6px 0;
    background: #1c75bc;
    transition: all 0.3s ease-in-out;
}
input[type=checkbox], input[type=radio] {
	margin-right: 8px;
}

/********
Overrides
********/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #1c75bc;
    border-color: #1c75bc;
}
.pagination>li>a, .pagination>li>span {
	color: #1c75bc;
}

.navbar {
	height: 70px;
}
.navbar-default .navbar-brand {
	padding: 5px;
}
.navbar-default .navbar-brand img {
	max-width: 125px;
}
@media (min-width: 768px) {
	.navbar-nav>li>a {
	    padding-top: 24px;
	    padding-bottom: 24px;
	}
}
.dropdown-menu {
	left: 0;
	right: auto;
	// text-align: left;
}

section.form {
	padding: 40px 0;
	padding-top: 0;
}
section.form .tab-content .tab-title {
	margin-bottom: 15px;
	margin-top: 0;
}
section.form .nav-tabs {
	border: none;
}
section.form .nav-tabs>li>a {
	font-size: 16px;
	color: #1c75bc;
	border-color: transparent;
	margin-right: 0;
}
section.form .nav-tabs>li.active>a, section.form .nav-tabs>li.active>a:focus, section.form .nav-tabs>li.active>a:hover {
	color: #1c75bc;
    background-color: #fff;
    border-color: transparent;
}

section.form .tab-content {
	background: #fff;
	padding: 20px;
	color: #555;
	border-radius: 5px;
}
section.form .tab-content .form-control {
	box-shadow: 0px 1px 46px 0px rgba(189, 190, 190, 0.3);
	border: 1px solid #00000014;
	height: 45px;
}
.btn-primary {
	background-color: #1c75bc;
	border-color: #1c75bc;
	color: #fff;
}
section.form .btn {
	width: 100%;
}


table {
    box-shadow: 0px 1px 46px 0px rgba(189, 190, 190, 0.3);
    background-color: #fff;
    border-radius: 8px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 18px;
}
.farms table {
	margin-top: 20px;
}


/*************
Login page
*************/
.login .panel {
	border: none;
	border-radius: 8px;
	box-shadow: 0px 1px 46px 0px rgba(189, 190, 190, 0.3);
}


/*********************
Home page - logged in 
*********************/
.home .box-anchor {
	color: #1c75bc;
	display: block;
	cursor: pointer;
}
.home .box-anchor:hover {
	text-decoration: none;
}
.home .box {
	background-color: #fff;
	border-radius: 8px;
	text-align: center;
	margin-bottom: 25px;
	box-shadow: 0px 1px 46px 0px rgba(189, 190, 190, 0.3);
	transition: all 0.3s ease;
}
.home .box:hover, .home .box:focus {
	box-shadow: 0px 1px 60px 0px rgba(189, 190, 190, 0.62);
}
.home .box .box-icon {
	padding: 15px;
	border-bottom: 1px solid #cccccc70;
}
.home .box .box-title {
	padding: 15px;
}
